    .landing {
        background-image: url('../img/landing.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: rgb(12, 0, 0);
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .landing h1 {
        padding: 2px;
        margin: 5px;
    }
    
    .bg-text {
        background-color: rgb(255, 249, 249);
        color: rgb(3, 0, 0);
        font-weight: bold;
        border: 3px solid #ffffff;
        text-align: center;
        font-size: large;
        font-weight: bold;
    }
    
    .image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    
    .pname {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 0%;
        left: 0%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center
    }
    
    .container:hover .pname {
        opacity: 1;
    }
    
    .text {
        background-color: rgb(255, 254, 255);
        color: white;
        font-size: 16px;
        padding: 10px 10px;
    }
    
    .contact {
        background-image: url('../img/backg.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: x-large;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .about-us {
        background-color: white;
    }
    
    h2 {
        text-align: center;
    }