    .landing {
        background-image: url('../img/landing.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: rgb(12, 0, 0);
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .landing h1 {
        padding: 2px;
        margin: 5px;
    }
    
    .bg-text {
        background-color: rgb(255, 249, 249);
        color: rgb(3, 0, 0);
        font-weight: bold;
        border: 3px solid #ffffff;
        text-align: center;
        font-size: large;
        font-weight: bold;
    }
    
    .text {
        background-color: rgb(255, 254, 255);
        color: white;
        font-size: 16px;
        padding: 10px 10px;
    }
    
    .contact {
        background-image: url('../img/backg.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: rgb(0, 0, 0);
        text-align: center;
        font-size: x-large;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    
    .about-us {
        background-color: white;
    }
    
    h2 {
        text-align: center;
    }
    
    .order h2 {
        text-align: center;
    }